Flask==3.1.2
Flask-Session==0.8.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
PyMySQL==1.1.0
mysqlclient==2.2.0
google-generativeai==0.8.5
opencv-python
opencv-contrib-python
mediapipe
fer
numpy
moviepy
openai-whisper
librosa
soundfile
sounddevice
Pillow==10.2.0
matplotlib==3.10.6
scikit-learn==1.7.1
pandas==2.3.2
tensorflow
keras
torch
torchvision
protobuf==4.25.8
facenet-pytorch==2.5.3
tensorboard
tensorflow-estimator
tensorflow-io-gcs-filesystem==0.31.0
numba==0.61.2
scipy==1.15.3
ffmpeg==1.4
imageio==2.37.0
imageio-ffmpeg==0.6.0
Flask-CORS==4.0.0
python-dotenv==1.0.0
python-docx==0.8.11
PyPDF2==3.0.1
requests==2.31.0
beautifulsoup4==4.12.2
selenium==4.15.2
Jinja2==3.1.2
pdfkit==1.0.0
rapidfuzz==3.4.0